<block wx:for="{{orders}}" wx:for-item="order">
  <view class='myOrder' bindtap='goOrderDetail' id='{{index}}'>
    <view class='myOrder-left'>
      <text class='type'>{{order.orderType}}</text>
      <text class='price'>{{"¥ " + (order.price ? order.price : "*.**")}}</text>
      <text class='date'>下单时间：{{order.createdAt}}</text>
    </view>
    <view class='myOrder-right'>
      <text>{{order.status}}</text>
    </view>
  </view>
</block>

