/* pages/Tcpages/tcpage.wxss */
.input1{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 15%;
  padding: 8%;
  background-color:#D9FED8;
  color: #434343;
  margin-top: 2%;
}
.input2{
  margin-top: 7%;
  margin-left: 5%;
  margin-bottom: 15%;
  border-bottom: 1px solid #F2F2F2;
  width: 80%
}

.submitButton{
  size: mini;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: solid 2em grey;
  background-color:#D9FED8;
  box-shadow: 2px 2px #888888;
  color:black;
  font-size: 14px;
  height: 45px;
  padding-top: 5px;
}